<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <p><a th:href="@{/dashboard}">Dashboard</a></p>
        
		<form method="POST" enctype="multipart/form-data" action="/file/upload">  
		    File to upload: <input type="file" name="file" /><br /> 
		    Name: <input type="text" name="name" /><br /> <br /> 
		    <input type="submit" value="Upload" /> Press here to upload the file!  
		</form>
    </body>
</html>