<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redq.latte.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.redq.latte.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="archived" property="archive" jdbcType="BIT" />
  </resultMap>
  
  <insert id="insert" parameterType="com.redq.latte.model.User" useGeneratedKeys="true" keyProperty="id">
    insert into u_user(loginname, passwrod, status, crated_at)
           values(#{loginname}, #{passwrod}, #{status}, now())
  </insert>
  
  <update id="update" parameterType="com.redq.latte.model.User">
    update u_user set user_name=#{userName},age=#{age} where id=#{id}
  </update>
  
  <update id="updateFiels">
	  update u_user
	 <trim prefix="set" suffixOverrides=",">
	  <if test="srcId!=null">SRC_ID=#{srcId},</if>
	  <if test="srcType!=null">SRC_TYPE=#{srcType},</if>
	  <if test="destId!=null">DEST_ID=#{destId},</if>
	  <if test="destType!=null">DEST_TYPE=#{destType},</if>
	  <if test="relType!=null">REL_TYPE=#{relType},</if>
	  <if test="status!=null">STATUS=#{status},</if>
	  <if test="snId!=null">SN_ID=#{snId},</if>
	 </trim>
	 WHERE id=#{id}
  </update>
    
  <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
    select * from u_user where id=#{id}
  </select>
  
  <select id="selectByLoginname" parameterType="String" resultMap="BaseResultMap">
    select * from u_user where loginname=#{loginname}
  </select>
  
  <select id="selectOne" parameterType="Long" resultMap="BaseResultMap">
    select * from u_user where id=#{id}
  </select>
  
  <select id="selectAll" resultType="com.redq.latte.model.User">
    select * from u_user
  </select>
  
</mapper>